
<div class="container text-center">
    <br><br>
    <div class="card" >
        <div class="container text-center"><br><br>
            <h1>Gerenciar reboques</h1><br><br>
            <a href="/cadastrar_cliente"><button class="btn btn-outline-primary" >Cadastrar cliente</button></a>
            <a href="/cadastrar_reboque"><button class="btn btn-outline-primary" >Cadastrar reboque</button></a>
            <a href="/cadastrar_usuario"><button class="btn btn-outline-primary">Cadastrar Usuario</button></a>
            <a href="/mostrar_reboque"><button class="btn btn-outline-primary">Ir para reboques</button></a>
            <a href="/logar_usuario"><button class="btn btn-outline-primary" >Ir para login</button></a>

            <br><br><br>
        </div>
    </div>
</div>
